.wrapper {
    display: flex;
    gap: 10px;
  }

.wrapper > div{
    background-color: lightblue;
    border-radius: 1%
}


/* Aside CSS */
.aside {
    width: 20%;
    height: 100vh;
    overflow-wrap: break-word;
  }

/* .aside > div {
    background-color: lightgreen;
  } */

.profile {
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
}

#settings {
  display: flex;
  justify-content: right;
  padding-right: 0.5rem;
}

.profile-pic{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info{
  text-align: center;
  inline-size: min-content;
  width: 100%;
  font-size: 1em; /* 16px */
}

/* boards and likes */
.title{
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.title > i {
  float: right;
  padding-right: 0.5rem;
}

.boards{
    height: auto;
}

.likes{
    height: auto;
}

/* Main CSS */
/* Nav CSS */

.navbar {
    flex-wrap: wrap;
    flex-grow: 4;

  }

/* Main */

.main {
    flex-grow: 4
  }



