<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Todo: What is the name of our page? -->
		<title>Team 27</title>

		<link rel="stylesheet" href="/static/styles/main.css" />
		<!-- BOOTSTRAP CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous" />
		<!-- Bootstrap Font Icon CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	</head>
	<body>
		<div class="wrapper container-fluid">
			<!-- Asside will be hidden when screens are too small, in view when screens are larger -->
			<settings-aside
				class="aside offcanvas-md offcanvas-start"
				tabindex="-1"
				id="offcanvasResponsive"
				aria-labelledby="offcanvasResponsiveLabel">
				<!-- Title and Close button will only be shown on smaller screens -->
				<button
					type="button"
					class="btn btn-dark"
					onclick="window.location.href='{{ url_for( 'logout') }}';"
					data-bs-dismiss="offcanvas"
					aria-label="Close">
					<i class="bi bi-box-arrow-right"></i>
				</button>

				<!--USER PROFILE -->
				<div id="user-profile">
					<user-info class="profile-info">
						<div class="scale-profile-pic">
							<img
								src="/static/images/blank-profile-pic.jpg"
								class="profile-pic"
								alt="profile-pic" />
						</div>
						<div class="profile-info">
							<p><b>{{user.name}}</b></p>
							<p><b>{{user.major}}</b></p>
						</div>
					</user-info>
					<!-- Todo: implement -->
					<div class="boards">
						<div class="title">Boards<i class="bi bi-list"></i></div>
						<div class="list-group">
							{%for board in boards %}

							<a
								href="{{board.link}}"
								target="_blank"
								class="list-group-item list-group-item-action"
								>{{board.major}}</a
							>

							{% endfor %}
						</div>
					</div>
				</div>
			</settings-aside>
			<!-- Main: Navbar, Notice (New notices and saved Notices) -->
			<div class="main">
				<nav class="navbar bg-light">
					<div class="container-fluid">
						<!-- button to show aside on smaller screens (it wont be visible on larger ones) -->
						<button
							class="btn btn-outline-dark d-md-none"
							type="submit"
							data-bs-toggle="offcanvas"
							data-bs-target="#offcanvasResponsive"
							aria-controls="offcanvasResponsive"
							id="aside-button">
							<i class="bi bi-sliders"></i>
						</button>
						<span class="navbar-brand mb-0 h1">SKKU NEWS FOR U</span>
					</div>
				</nav>
				<!-- Login/Register Menu (not logged-in) -->
				<div id="login-register-menu">
					<login-register-menu
						class="d-flex justify-content-center p-3"></login-register-menu>
				</div>
				<!-- Notice Contents (Logged-in) -->
				<div class="notices" id="content-notices">
					<div class="new-notices">
						<div class="title">Notice<i class="bi bi-bell-fill"></i></div>
						<div class="list-group" id="new-notices-list">
							{%for notice in notices %}
							<div class="list-group-item list-group-item-action mt-1">
								<div class="d-flex w-100">
									<div class="d-flex w-100 justify-content-between">
										<a
											href="{{notice.link}}"
											aria-current="true"
											target="_blank"
											role="button"
											class="btn justify-left">
											<h5 class="mb-1 s-post-title">{{notice.title}}</h5>
											<sup class="notice-post-board">{{notice.board}}</sup>
										</a>
										<small class="notice-post-time">{{notice.date}}</small>
									</div>
									{% if notice.saved %}
									<button type="button" class="btn btn-light px-2 my-2 mx-2">
										<i class="bi bi-star-fill"></i>
									</button>
									{% else %}
									<button type="button" class="btn btn-light px-2 my-2 mx-2">
										<i class="bi bi-star"></i>
									</button>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="saved-notices">
						<div class="title">Saved <i class="bi bi-star-fill"></i></div>
						<div class="list-group" id="saved-notices-list">
							{%for notice in saved_notices %}
							<div class="list-group-item list-group-item-action">
								<div class="d-flex w-100">
									<div class="d-flex w-100 justify-content-between">
										<a
											role="button"
											class="btn justify-content-start"
											href="{{notice.link}}"
											aria-current="true"
											target="_blank">
											<h5 style="visibility:hidden">{{notice.index}}</h5>
											<h5 class="mb-1 s-post-title">{{notice.title}}</h5>
											<sup class="notice-post-board">{{notice.board}}</sup>
										</a>
																					<div class="favorite"><span class="favo favo-default"></span><span class="favotxt">like</span></div>
											<div>
												<script type="text/javascript" src="/static/styles/jquery-1.11.1.min.js"></script>
												<script>
													$(function(){
														$(".favo").on("click",function(){
															var $this = $(this);
															var txt = $(".favotxt");
															var Icon = $(".favo");
															if(txt.html() == "like" && Icon.hasClass("favo-default")){
																txt.html("unlike");
																Icon.removeClass("favo-default");
																Icon.addClass("favo-hover");
															}else if (txt.html() == "unlike" && Icon.hasClass("favo-hover")){
																txt.text("like");
																Icon.removeClass("favo-hover");
																Icon.addClass("favo-default");
														  };
														});
													});
												</script>
												</div>
										<small class="notice-post-time">{{notice.date}}</small>
									</div>
									{% if notice.saved %}
									<button type="button" class="btn btn-light px-2 my-2 mx-2">
										<i class="bi bi-star-fill"></i>
									</button>
									{% else %}
									<button type="button" class="btn btn-light px-2 my-2 mx-2">
										<i class="bi bi-star"></i>
									</button>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Handles Login/register Logic -->
		<!-- BOOTSTRAP JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
	</body>
</html>
