{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKKU-NEWS</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
    <!-- Bootstrap Font Icon CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<body>
    <nav class="navbar bg-light">
		<div class="container-fluid ">
			<span class="navbar-brand mb-0 h1">SKKU NEWS FOR U</span>
		</div>
	</nav>
    <div class="d-flex justify-content-center mt-5 my-auto">
        <form action={{ url_for('register') }} method="POST">
            <label for="id" class="form-label">ID</label>
            <input class="form-control" type="text" id="id" name="id"><br>
            <label for="pwd" class="form-label"> Password </label>
            <input class="form-control" type="text" id="pwd" name="pwd"><br>
            <label for="name" class="form-label"> Name </label>
            <input class="form-control" type="text" id="name" name="name"><br>
            <label for="major" class="form-label"> Major </label>
            <select class="form-select" name="major">
                <option value="none">===Select the major===</option>
                <option value="bio">Biological Sciences</option>
                <option value="physics">Physics</option>
                <option value="ice">Electronic and Electrical Engineering</option>
                <option value="mcce">Material-Component Convergence Engineering</option>
                <option value="cs">Department of Computer Science and Engineering</option>
                <option value="sco">School of Convergence</option>
                <option value="amse">Advanced Materials Science and Engineering</option>
                <option value="arch">Architecture</option>
                <option value="gene">Department of Integrative Biotechnology</option>
                <option value="sports">Sport Science</option>
                <option value="med">Medicine</option>
                <option value="gbme">Global Biomedical Engineering</option>
            </select><br>
            <input class="btn btn-primary mt-3" type="submit" value="Register">
        </form>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>